.container {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 0 auto;
}

.container h2 {
  font-size: 3rem;
}

.container span {
  margin-bottom: 1rem;
}

.container p {
  font-style: italic;
}
