@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body text-contessa-950 bg-contessa-200;
  }
  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

:root {
  --background: #faeee7;
  --stroke: #33272a;
  --main: #fffffe;
  --highlight: #ff8ba7;
  --secondary: #ffc6c7;
  --tertiary: #c3f0ca;
}
